
{% extends 'base.html' %}

{% block headtitle %}
This is the homepage!!
{% endblock headtitle %}

{% block content %}
TweetMeAgain
{% load static %}
<div class = 'row text-center'>
    <div class = "col">
        <h1>Welcome To TweetMe 2 </h1>
    </div>
</div>

<div id= 'tweets'>

</div>





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<script>
const tweetsElement = document.getElementById('tweets')
tweetsElement.innerHTML = 'loading ....'
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = "json"

function formatedTweetElement(tweet){
    var formatedTweet = "<div class = 'col-12 border py-3 mb-4' id = 'tweet'><h1 class='h1'>"
     + tweet.id +
    "</h1>" + "<p>" 
    + tweet.content + "</p></div>" + "<div>" + Likebtn(tweet) + "</div><br>"
    return formatedTweet
}

function handleDidLike(tweet_id, currentLikes){
    console.log(tweet_id, currentLikes)

}

function Likebtn(tweet){
    return "<button onclick = handleDidLike("
    + tweet.id + "," + tweet.likes +
    ")> Like "+ tweet.likes+
    "</button>"
}
xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function(){
    const serverResponse = xhr.response
    var listedItem = serverResponse.response
    var i = 0
    var finalTweetStr = ""
    for (i=0; i< listedItem.length; i++){
        tweetObject = listedItem[i]
        currentItem = formatedTweetElement(tweetObject)
        finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr


}
xhr.send()

</script>

{% endblock content%}