{% extends 'base.html' %}

{% block headtitle %}
This is the homepage!!
{% endblock headtitle %}

{% block content %}
TweetMeAgain
{% load static %}
<div class = 'row text-center'>
    <div class = "col">
        <h1>Welcome To TweetMe 2 </h1>
    </div>
</div>


<div class = 'row mb-3'>
    <div class = 'col-md-4 mx-auto col-10'>
        <form class = 'form' id ='create-tweet-form' method = 'POST' action = 'create-tweet'>{% csrf_token %}
            <input type = 'hidden' value= '/' name = 'next'/>
            <textarea class = 'form-control' name = 'content' placeholder = 'Your Tweet....'></textarea>
            <button type = 'submit' class = 'btn btn-primary'>Tweet</button>
        </form>
    </div> 
</div>

<div id= 'tweets'>

</div>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<script>
const tweetsElement = document.getElementById('tweets')
//lets set up a target in order for us to get an event listener. 
const tweetCreateForm = document.getElementById('create-tweet-form')

function handleFormDidSubmit(event){
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute('action')
    const url = 'create-tweet'
    const method = myForm.getAttribute('method')
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH",'XMLHttpRequest')
    xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
    xhr.onload = function(){
        const ServerResponse = xhr.response
        const tweetsElement = document.getElementById('tweets')
        loadTweets(tweetsElement)
    }
    xhr.send()
}


tweetCreateForm.addEventListener("submit", handleFormDidSubmit)
const loadTweets = function(TweetsElement){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
    const serverResponse = xhr.response
    var listedItem = serverResponse.response
    var i = 0
    var finalTweetStr = ""
    for (i=0; i< listedItem.length; i++){
        tweetObject = listedItem[i]
        currentItem = formatedTweetElement(tweetObject)
        finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
}
xhr.send()

}
loadTweets(tweetsElement)

tweetsElement.innerHTML = 'loading ....'
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = "json"

function formatedTweetElement(tweet){
    var formatedTweet = "<div class = 'col-12 border py-3 mb-4' id = 'tweet'><h1 class='h1'>"
     + tweet.id +
    "</h1>" + "<p>" 
    + tweet.content + "</p></div>" + "<div>" + Likebtn(tweet) + "</div><br>"
    return formatedTweet
}

function handleDidLike(tweet_id, currentLikes){
    console.log(tweet_id, currentLikes)

}

function Likebtn(tweet){
    return "<button onclick = handleDidLike("
    + tweet.id + "," + tweet.likes +
    ")> Like "+ tweet.likes+
    "</button>"
}


</script>

{% endblock content%}